.info {
  margin-bottom: 24px;
}

.description {
  display: -webkit-box;
  padding-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.title {
  margin-bottom: 36px;
}

.buttonContainer {
  display: flex;
}

.button {
  width: 100%;
  height: 44px;

  margin-right: 16px;

  border: none;
  border-radius: 8px;

  font-weight: 600;
  cursor: pointer;
}

.button:last-child {
  margin-right: 0;
}

.buttonSecondary {
  border: 1px solid var(--grey-300);
  background: transparent;

  color: var(--grey-300);
}

.buttonPrimary {
  background: var(--primary-color);

  color: var(--grey-100);
}
